@model dynamic

@{
    ViewBag.Title = "Getting started";
}

@section scripts
{
    @Scripts.Render("~/bundles/spaghetti")
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("GettingStartedWithPartial")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div>
            <h3>Was this page helpfull?</h3>
            <p>Please select option:</p>
            <p>
                <button id="YesButton" class="btn btn-default" data-url="@Url.Action("Update", "Survey")" data-id="@Model.PageId" data-value="Yes">Yes</button>
                <button id="NoButton" class="btn btn-default" data-url="@Url.Action("Update", "Survey")" data-id="@Model.PageId" data-value="No">No</button>
            </p>
            <p id="SurveyMessage"></p>
        </div>
    </div>
</div>



